.root {
  --app-shell-main-margin: var(--mantine-spacing-sm);
  --app-shell-header-offset: calc(var(--app-shell-header-height) + var(--app-shell-main-margin));
  --app-shell-navbar-offset: calc(var(--app-shell-navbar-width) + var(--app-shell-main-margin));

  @media (max-width: $mantine-breakpoint-sm) {
    --app-shell-navbar-offset: var(--app-shell-main-margin)
  }
}

:global(.mantine-Accordion-panel) {
  @media print {
    opacity: 1 !important;
    height: 100% !important;
    display: block !important;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: var(--mantine-spacing-md);
  @media print {
    display: none;
  }
}
.main {
  padding-top: var(--app-shell-header-offset);
  margin-right: var(--app-shell-main-margin);
}

.footer {
  @media print {
    display: none;
  }
}

.navbar {
  @media print {
    display: none;
  }
}