.root {
    --cv-control-margin-bottom: calc(var(--app-shell-footer-height) + env(safe-area-inset-bottom) + var(--app-shell-main-margin));
    --sc-text-height: calc(var(--mantine-font-size-sm) * var(--mantine-line-height));
    --sc-padding-sm-x: calc(0.3125rem * var(--mantine-scale));
    --sc-padding-sm-y: calc(0.625rem * var(--mantine-scale));
    --sc-padding-sm: var(--sc-padding-sm-x) var(--sc-padding-sm-y);
    --sc-padding: var(--sc-padding-sm);
    --sc-font-height: calc(var(--mantine-font-size-sm) * var(--mantine-line-height));
    --cv-control-height: calc(var(--sc-font-height) + calc(2 * var(--sc-padding-sm-y)));
    /* Not sure that this is legit to use, but it seems to be about right :) */
    padding-bottom: var(--cv-control-margin-bottom);
    --cv-name-padding-bottom: var(--mantine-spacing-xs);
    --cv-name-height: calc(calc(var(--mantine-h1-font-size) * var(--mantine-h1-line-height)) + var(--cv-name-padding-bottom));
    --cv-synopsis-text-height: calc(var(--mantine-font-size-md) * var(--mantine-line-height-md));
    --cv-synopsis-padding-bottom: calc(1rem * var(--mantine-scale));
}
.control {
    position: fixed;
    bottom: 0;
    margin-bottom: var(--cv-control-margin-bottom);
    margin-left: var(--app-shell-navbar-offset);
    margin-right: var(--app-shell-main-margin);
    inset-inline: 0;
    z-index: 5;
}

.name {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: var(--cv-name-padding-bottom)
}

.synopsis {
  padding-bottom: var(--cv-synopsis-padding-bottom);
  margin-block-start: 0;
  margin-block-end: 0; 
}

.anchor {
    text-decoration: underline;
    color: 'light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-5))'
}

.employmentHistoryAccordian {
    margin: var(--mantine-spacing-lg);
    border-radius: var(--mantine-radius-sm);
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
  
  .employmentHistoryItem {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    border: 1px solid transparent;
    position: relative;
    z-index: 0;
    transition: transform 150ms ease;
  
    &[data-active] {
      transform: scale(1.01);
      background-color: var(--mantine-color-body);
      border-color: light-dark(
        var(--mantine-color-gray-2),
        var(--mantine-color-dark-4)
      );
      box-shadow: var(--mantine-shadow-md);
      border-radius: var(--mantine-radius-md);
    }
  }
  
  .employmentHitoryControlGroupChild {
      display: inline-block;
      text-align: left;
      text-overflow: ellipsis;
  }
  
  .employmentHistoryControlCompanyName {
    min-width: 13.5rem; /* Carefully chosen to be a bit longer than the longest company name */
  }
  
  .employmentHistoryControlCompanyNameAnchor {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
  
  .employmentHistoryJobTitle {
    font-weight: 600;
}

  .employmentHistoryControlJobTitle {
      min-width: 21rem; /* Carefully chosen to be a bit longer than the longest company name */
      @media (max-width: $mantine-breakpoint-xs) {
        display: none;
      }
  }

  .employmentHistoryItemJobTitle {
    display: none;
    text-align: center;
    font-size: var(--mantine-font-size-lg);
    @media (max-width: $mantine-breakpoint-xs) {
      display: block;
    }
  }
  
  .employmentHistoryControlJobDates {
      min-width: 13rem;
      @media (max-width: $mantine-breakpoint-md) {
        display: none
      }
  }

  .employmentHistoryItemShortJobDates {
    display: none;
    text-align: center;
    margin-bottom: var(--mantine-spacing-md);
    @media (max-width: $mantine-breakpoint-md) {
      display: block;
    }
  }