.root {
    margin: 0;
    padding: 0;
    --swt-content-area-bottom-margin: calc(var(--cv-control-margin-bottom) + var(--cv-control-height));
    --swt-content-area-top-margin: calc(var(--app-shell-header-offset) + var(--app-shell-main-margin) + var(--cv-name-height)  + calc(var(--mantine-font-size-md) * var(--mantine-line-height-md)) + calc(1rem * var(--mantine-scale)));
}

.button {
    color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-grey-3));
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-7));
        color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-grey-4));
    }

    @media print {
        display: none;
    }
}

.transitionWrapperBox {
    position: absolute;
    width: 100%;
    @media print {
        display: block !important;
        position: relative;
    }
}

.transitionWrapperScrollArea {
    @media screen {
        height: calc(100vh - var(--swt-content-area-top-margin) - var(--swt-content-area-bottom-margin));
    }
}

.control {
    @media print {
        display: none;
    }
}