.root {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
}

.inner {
  position: relative;
}

.image {
  position: absolute;
  inset: 0;
  opacity: 0.95;
  color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
  z-index: -2;
}

.content {
  position: relative;
  z-index: 1;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: rem(120px);
  }
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: rem(38px);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.description {
  max-width: rem(540px);
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}

hr {
  padding: 0;
  border: none;
  border-top: 5px solid #fff;
  color: #fff;
  text-align: center;
  margin: 0px auto;
  width: 420px;
  height: 10px;
  z-index: -10;
}

hr:after {
  content: '\2022';
  display: inline-block;
  position: relative;
  top: -0.75em;
  font-size: 2em;
  padding: 0 0.2em;
  background: #33cc99;
}

.cloud {
  width: 350px;
  height: 120px;

  background: var(--cloud-color);
  background: linear-gradient(top, var(--cloud-color) 100%);

  border-radius: 100px;

  position: absolute;
  margin: 120px auto 20px;
  z-index: -1;
  transition: ease 1s;

  &:after,
  &:before {
    content: '';
    position: absolute;
    background: var(--cloud-color);
    z-index: -1;
  }

  &:after {
    width: 100px;
    height: 100px;
    top: -50px;
    left: 50px;

    border-radius: 100px;
  }

  &:before {
    width: 180px;
    height: 180px;
    top: -90px;
    right: 50px;

    border-radius: 200px;
  }
}

.x1 {
  top: -50px;
  left: 100px;
  transform: scale(0.3);
  opacity: var(--cloud-x1-opacity);
  animation: moveclouds1 var(--cloud-x1-speed) linear infinite;
}

.x1_5 {
  top: -80px;
  left: 250px;
  transform: var(--cloud-x1_5-opacity);
  animation: moveclouds1_5 var(--cloud-x1_5-speed) linear infinite;
}

.x2 {
  left: 250px;
  top: 30px;
  transform: scale(0.6);
  opacity: var(--cloud-x2-opacity);
  animation: moveclouds2 var(--cloud-x2-speed) linear infinite;
}

.x3 {
  left: 250px;
  bottom: -70px;
  transform: scale(0.6);
  opacity: var(--cloud-x3-opacity);

  animation: moveclouds3 var(--cloud-x3-speed) linear infinite;
}

.x4 {
  left: 470px;
  bottom: 20px;

  transform: scale(0.75);
  opacity: var(--cloud-x4-opacity);

  animation: moveclouds4 var(--cloud-x4-speed) linear infinite;
}

.x5 {
  left: 200px;
  top: 300px;

  transform: scale(0.5);
  opacity: var(--cloud-x5-opacity);

  animation: moveclouds5 var(--cloud-x5-speed) linear infinite;
}

@keyframes moveclouds1 {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@keyframes moveclouds1_5 {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@keyframes moveclouds2 {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@keyframes moveclouds3 {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@keyframes moveclouds4 {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@keyframes moveclouds5 {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}